<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">

  <Properties>
    <Property name="log-path">logs</Property>
  </Properties>

  <Appenders>
    <Console name="console-log" target="SYSTEM_OUT">
      <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1.}:%-5.5L - %msg%n"/>
      <ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY"/>
    </Console>
    <RollingRandomAccessFile name="file-log" fileName="${log-path}/runtime.log" filePattern="${log-path}/runtime-%d{yyyy-MM-dd}-%i.log" immediateFlush="true" append="false">
      <PatternLayout>
        <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1.}:%5.5L - %msg%n</pattern>
      </PatternLayout>
      <ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY"/>
      <Policies>
          <TimeBasedTriggeringPolicy interval="1" modulate="true"/><!-- 1 day or 1 hour -->
        <SizeBasedTriggeringPolicy size="20 MB" />
      </Policies>
      <!--DefaultRolloverStrategy max="100"-->
    </RollingRandomAccessFile>
  </Appenders>

  <Loggers>
    <Logger name="async-log" level="trace" includeLocation="true">
      <AppenderRef ref="file-log"/>
      <AppenderRef ref="console-log"/>
    </Logger>
    <Root level="trace">
      <AppenderRef ref="file-log"/>
      <AppenderRef ref="console-log"/>
    </Root>
  </Loggers>
</Configuration>
